<div mw-input-wrapper
     label="{{'hero.name' | i18n}}"
     tooltip="{{'hero.tooltips.heroName' | i18n}}">
  <input name="name"
         type="text"
         ng-model="name"
         mw-model="ctrl.hero"
         hero-validate-unique="ctrl.hero.isNew()"
         required>
</div>

<div mw-input-wrapper
     label="{{'hero.description' | i18n}}">
  <textarea name="description" ng-model="description" mw-model="ctrl.hero" ng-maxlength="10"></textarea>
</div>

<div mw-input-wrapper
     label="{{'hero.superPowers' | i18n}}">
  <div super-power-selector-btn
       selected="ctrl.hero.get('superPowers')"
       mw-required="true"></div>
</div>

<div ng-if="ctrl.hero.get('superPowers').length>0"
     mw-input-wrapper
     label="{{'hero.strongestSuperPower' | i18n}}">
  <div super-power-selector-btn
       selected="ctrl.hero.get('strongestSuperPower')"
       enabled-superpowers="ctrl.hero.get('superPowers')"
       mw-required="true"></div>
</div>
